API_KEY=<REQUIRED>
STEAM_ACCOUNT=<REQUIRED>
DUCK_DOMAIN=<REQUIRED>
DUCK_TOKEN=<REQUIRED>
RCON_PASSWORD=changeme
MOD_URL=https://github.com/kus/csgo-modded-server/archive/master.zip
SERVER_PASSWORD=changeme
PORT=27015
TICKRATE=128
MAXPLAYERS=16
CUSTOM_FOLDER=custom_files
